@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

html{
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    background-color: #12a4d9;
}


h1{
    text-align: center;
    font-size: 2.5rem;
    margin:10px;
    padding:10px;
    
}

#choices{
    display:flex;
    width: 100vw;
    justify-content: center;
    background-color: #322e2f;
}

#playerChoice{
    display: flex;
    flex-direction: row;
    width: 45%;
    height:100px;
    margin: 15px;
    border: 3px solid #d9138a;
    border-radius: 10px;
    justify-content: space-evenly;
}
#computerChoice{
    display: flex;
    width: 45%;
    height:100px;
    margin: 15px;
    border: 3px solid #d9138a;
    border-radius: 10px;
    justify-content: space-evenly;
}

input{
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid #d9138a;
    transition: 0.09s;
}

img{
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid #d9138a;
    transition: 0.09s;
}

input:hover{
    background-color: #e2d810;
    transform:scale(1.1);
}

#buttons{
    display: flex;
    width: 100vw;
    justify-content: center;
}

button{
    margin: 10px;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: 3px solid;
    transition: 0.09s;
    cursor:pointer;
    
}

button:hover{
    background-color: #e2d810;
    transform:scale(1.1); 
}

button:active{
    transform:scale(0.9);
}

.clicked{
    background-color: #e2d810;
    transform:scale(1.1);
}

#cRock{
    animation-name: flashing;
    animation-duration: 1s;  
    animation-iteration-count: infinite;
}

#cPaper{
    animation-delay: 0.33s;
    animation-name: flashing;
    animation-duration: 1s;  
    animation-iteration-count: infinite;
}

#cScissors{
    animation-delay: 0.66s;
    animation-name: flashing;
    animation-duration: 1s;  
    animation-iteration-count: infinite;
}

@keyframes flashing {
    0% {
        background: #322e2f;
    }
    50% {
        background: #e2d810;
    }
    100% {
        background: #322e2f;
    }
  }

  #results{
    display:flex;
    width: 100vw;
    justify-content: center;
    background-color: #322e2f;
  }

  #winner{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 200px;
    margin: 15px;
    border: 3px solid #d9138a;
    color: #d9138a;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }

  #result{
    font-size: 2rem;
    margin: 10px;
  }
  #score, #hand{
    font-size: 1.4rem;
  }

  #history{
    display: flex;
    flex-direction: row;
    width: 45%;
    height: 200px;
    margin: 15px;
    border: 3px solid #d9138a;
    border-radius: 10px;
    justify-content: space-evenly;
  }

  table{
      color:#d9138a;
      text-align: center;
  }
